<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyTube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>MyTube</h1>
    </header>
    <main>
        <h3><a href="/random">Play Random Videos</a></h3>
        
        <form id="video-form">
            <fieldset>
                <legend>Upload a video</legend>
                <label for="file">Video File</label>
                <input id="file" name="file" type="file" accept="application/mp4">
                <button type="submit">Save</button>
            </fieldset>
        </form>
        
        <div id="video-list">
            <header>
                <h3>Your videos</h3>
            </header>
            <ul id="your-videos">
            	<li th:each="video : ${allVideos}">
            		<a th:href="@{/player(id=${video.id})}" th:text="${video.name}"></a>
            	</li>
            </ul>
        </div>
    </main>
    <script src="main.js"></script>
</body>
</html>
