<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			font-family: Arial;
			font-size: 17px;
		}

		video {
		    object-fit: cover;
		}
		
		#video-player {
			text-align: center
		}
	</style>

</head>

<body>
	<div id="video-player">
		<video id="video-screen" controls >
			<source th:src="${src}" />
		</video>
	</div>
</body>

<script>
	const video = document.querySelector('#video-screen');
	
	function resize(v) {
		console.log('before', v.videoHeight, v.videoWidth);
		videoRatio = v.videoHeight / v.videoWidth;
		windowRatio = window.innerHeight / window.innerWidth; /* browser size */
		
	    if (windowRatio < videoRatio) {
	        v.width = window.innerWidth;
	    } 
	    else {
	        v.height = window.innerHeight;
	    }
		console.log('after', v.height, v.width);
	}
	resize(video)

	function load() {
		fetch('/video/random')
			.then(res => res.text())
			.then(res => {
				video.src = '/video/' + res
				resize(video)
				video.play()
			})
	}
	
	video.onended = (e) => load()
</script>

</html>