<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		* {
			box-sizing: border-box;
			margin: 0;
			border: 0;
			padding: 0;
		}

		body {
			margin: 0;
			border: 0;
			padding: 0;
		}

		video {
		    object-fit: cover;
			margin: 0;
			border: 0;
			padding: 0;
		}
		
		#video-player {
			margin: 0;
			border: 0;
			padding: 0;
			text-align: center
		}
	</style>

</head>

<body>
	<div id="video-player">
		<video id="video-screen" autoplay controls >
			<source th:src="${src}" />
		</video>
	</div>
</body>

<script>
	const video = document.querySelector('#video-screen');
		
	function resize(v) {
		console.log('before', v.width, v.height);
		console.log('video', video.videoHeight, video.videoWidth);
		videoRatio = video.videoHeight / video.videoWidth;
		targetHeight = window.innerHeight - 4
		windowRatio = targetHeight / window.innerWidth; /* browser size */
		
	    if (windowRatio < videoRatio) {
	        v.height = targetHeight;
	        v.width = v.height / videoRatio;
	    } 
	    else {
	        v.width = window.innerWidth;
	        v.height = v.width * videoRatio;
	    }
	    
		console.log('after', v.width, v.height);
	}
	
	video.onloadeddata = function() {
		resize(video)
		video.play()
	}
	
	function resizeVideo() {
	  var videoScreen = document.querySelector('#video-screen');
	  resize(videoScreen)
	}
	
	window.addEventListener("resize", resizeVideo);

	function load() {
		fetch('/video/random')
			.then(res => res.text())
			.then(res => {
				video.src = '/video/' + res
			})
	}
	
	video.onended = (e) => load()
</script>

</html>